<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/f16348c829.js" crossorigin="anonymous"></script>
    
      <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/"><i class="fas fa-paw"></i>  Animal Shelters</a>
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="shelters">Shelters</a>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="donations">Donations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="employees">Employees</a>
                    </li>
                     
                    <li class="nav-item">
                        <a class="nav-link" href="volunteers">Volunteers</a>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="animals">Animals</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="animal">Animal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="animaltreatment">AnimalTreatment</a>
                    </li>
              
                    
                    <li class="nav-item">
                        <a class="nav-link" href="clients">Clients</a>
                    </li>
                   
                    
                    <li class="nav-item">
                        <a class="nav-link" href="diet">Diet</a>
          
                    </li>
                    
                     
                    <li class="nav-item">
                        <a class ="nav-link" href ="user"><i class="fas fa-users"></i></a>
                        </li>
                    
                    
                    <li class="nav-item">
                        <a class ="nav-link" href ="help"><i class="fas fa-question"></i></a>
                        </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    <br />
    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>&copy; 2019 - MIS 3353</p>
        </footer>
    </div>
</body>
</html>
