@{Layout = "_Layout.cshtml";}

<h1>Aircraft</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Aircraft Number</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>TTAF</th>
                <th>TTEL</th>
                <th>TTER</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1484P</td>
                <td>Piper</td>
                <td>Aztec</td>
                <td>1833.1</td>
                <td>1833.1</td>
                <td>101.8</td>
            </tr>
            <tr>
                <td>2289L</td>
                <td>Beechcraft</td>
                <td>KingAir</td>
                <td>4243.8</td>
                <td>768.9</td>
                <td>1123.4</td>
            </tr>
            <tr>
                <td>2778V</td>
                <td>Piper</td>
                <td>Navajo Chieftain</td>
                <td>7992.9</td>
                <td>1513.1</td>
                <td>789.5</td>
            </tr>
            <tr>
                <td>4278Y</td>
                <td>Piper</td>
                <td>Navajo Chieftain</td>
                <td>2147.3</td>
                <td>622.1</td>
                <td>243.2</td>
            </tr>
        </tbody>
    </table>
</div>