@{Layout = "_Layout.cshtml";}

<h1>Customers</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Customer Code</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Middle Initial</th>
                <th>Area Code</th>
                <th>Phone Number</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10010</td>
                <td>Ramas</td>
                <td>Alfred</td>
                <td>A</td>
                <td>615</td>
                <td>844-2573</td>
                <td>0</td>
            </tr>
            <tr>
                <td>10011</td>
                <td>Dunne</td>
                <td>Leona</td>
                <td>K</td>
                <td>713</td>
                <td>894-1238</td>
                <td>0</td>
            </tr>
            <tr>
                <td>10012</td>
                <td>Smith</td>
                <td>Kathy</td>
                <td>W</td>
                <td>615</td>
                <td>894-2285</td>
                <td>896.54</td>
            </tr>
            <tr>
                <td>10013</td>
                <td>Olowski</td>
                <td>Paul</td>
                <td>F</td>
                <td>615</td>
                <td>894-2180</td>
                <td>1285.19</td>
            </tr>
            <tr>
                <td>10014</td>
                <td>Orlando</td>
                <td>Myron</td>
                <td></td>
                <td>615</td>
                <td>222-1672</td>
                <td>673.21</td>
            </tr>
            <tr>
                <td>10015</td>
                <td>O&#39;Brian</td>
                <td>Amy</td>
                <td>B</td>
                <td>713</td>
                <td>442-3381</td>
                <td>1014.56</td>
            </tr>
            <tr>
                <td>10016</td>
                <td>Brown</td>
                <td>James</td>
                <td>G</td>
                <td>615</td>
                <td>297-1228</td>
                <td>0</td>
            </tr>
            <tr>
                <td>10017</td>
                <td>Williams</td>
                <td>George</td>
                <td></td>
                <td>615</td>
                <td>290-2556</td>
                <td>0</td>
            </tr>
            <tr>
                <td>10018</td>
                <td>Farriss</td>
                <td>Anne</td>
                <td>G</td>
                <td>713</td>
                <td>382-7185</td>
                <td>0</td>
            </tr>
            <tr>
                <td>10019</td>
                <td>Smith</td>
                <td>Olette</td>
                <td>K</td>
                <td>615</td>
                <td>297-3809</td>
                <td>453.98</td>
            </tr>
        </tbody>
    </table>
</div>