@{Layout = "_Layout.cshtml";}

<h1>Welcome to the Database for Animals in Shelter Housing!</h1>
<p>D.A.S.H. has a mission to make sure that all its rescued animals are well-cared for and find a safe and loving home.
    You can make a difference by donating or adopting an animal. Please refer to the Donation and Animal tabs to see how you can contribute.
You can also decide to gift us your time by volunteering. Click the volunteering tab to learn more.</p>
<div>
<p1>This database was created after listening to the complaints of several animal shelter owners in order to have a more streamlined and organized method to keep track of the animals in their shelters.
Below is the developed entity-relationship diagram for the animal shelter database application. This ERD is composed of twenty entities, and twenty-one relationships between entities. This ERD can be divided into five main sections that address the client's needs for recording and reviving relevant information about employees, donations, volunteer shifts, animal care, and the types of services offered at the shelter.
 <img src="miserd.png" alt="Animal Shelters ERD" width="500" height="600">
</p1>
</div>
<p>While we tried to make the website as simple and intuitive as possible,please refer to the <i class="fas fa-users"></i> and <i class="fas fa-question"></i> symbols in the navigation bar for additional help and information.</p>
<h6>Thank you for choosing us!!</h6>
