@{Layout = "_Layout.cshtml";}

<h1>Charters</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Trip Number</th>
                <th>Date</th>
                <th>Aircraft Number</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Destination</th>
                <th>Distance</th>
                <th>Hours Flown</th>
                <th>Hours Wait</th>
                <th>Fuel Gallons</th>
                <th>Oil Quarts</th>
                <th>Customer</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10001</td>
                <td>2/5/2014 12:00:00 AM</td>
                <td>2289L</td>
                <td>Beechcraft</td>
                <td>KingAir</td>
                <td>ATL</td>
                <td>936</td>
                <td>5.1</td>
                <td>2.2</td>
                <td>354.1</td>
                <td>1</td>
                <td>Leona Dunne</td>
            </tr>
            <tr>
                <td>10002</td>
                <td>2/5/2014 12:00:00 AM</td>
                <td>2778V</td>
                <td>Piper</td>
                <td>Navajo Chieftain</td>
                <td>BNA</td>
                <td>320</td>
                <td>1.6</td>
                <td>0</td>
                <td>72.6</td>
                <td>0</td>
                <td>James Brown</td>
            </tr>
            <tr>
                <td>10003</td>
                <td>2/5/2014 12:00:00 AM</td>
                <td>4278Y</td>
                <td>Piper</td>
                <td>Navajo Chieftain</td>
                <td>GNV</td>
                <td>1574</td>
                <td>7.8</td>
                <td>0</td>
                <td>339.8</td>
                <td>2</td>
                <td>Myron Orlando</td>
            </tr>
            <tr>
                <td>10004</td>
                <td>2/6/2014 12:00:00 AM</td>
                <td>1484P</td>
                <td>Piper</td>
                <td>Aztec</td>
                <td>STL</td>
                <td>472</td>
                <td>2.9</td>
                <td>4.9</td>
                <td>97.2</td>
                <td>1</td>
                <td>Olette Smith</td>
            </tr>
            <tr>
                <td>10005</td>
                <td>2/6/2014 12:00:00 AM</td>
                <td>2289L</td>
                <td>Beechcraft</td>
                <td>KingAir</td>
                <td>ATL</td>
                <td>1023</td>
                <td>5.7</td>
                <td>3.5</td>
                <td>397.7</td>
                <td>2</td>
                <td>Leona Dunne</td>
            </tr>
            <tr>
                <td>10006</td>
                <td>2/6/2014 12:00:00 AM</td>
                <td>4278Y</td>
                <td>Piper</td>
                <td>Navajo Chieftain</td>
                <td>STL</td>
                <td>472</td>
                <td>2.6</td>
                <td>5.2</td>
                <td>117.1</td>
                <td>0</td>
                <td>George Williams</td>
            </tr>
            <tr>
                <td>10007</td>
                <td>2/6/2014 12:00:00 AM</td>
                <td>2778V</td>
                <td>Piper</td>
                <td>Navajo Chieftain</td>
                <td>GNV</td>
                <td>1574</td>
                <td>7.9</td>
                <td>0</td>
                <td>348.4</td>
                <td>2</td>
                <td>Kathy Smith</td>
            </tr>
            <tr>
                <td>10008</td>
                <td>2/7/2014 12:00:00 AM</td>
                <td>1484P</td>
                <td>Piper</td>
                <td>Aztec</td>
                <td>TYS</td>
                <td>644</td>
                <td>4.1</td>
                <td>0</td>
                <td>140.6</td>
                <td>1</td>
                <td>Myron Orlando</td>
            </tr>
            <tr>
                <td>10009</td>
                <td>2/7/2014 12:00:00 AM</td>
                <td>2289L</td>
                <td>Beechcraft</td>
                <td>KingAir</td>
                <td>GNV</td>
                <td>1574</td>
                <td>6.6</td>
                <td>23.4</td>
                <td>459.9</td>
                <td>0</td>
                <td>George Williams</td>
            </tr>
            <tr>
                <td>10010</td>
                <td>2/7/2014 12:00:00 AM</td>
                <td>4278Y</td>
                <td>Piper</td>
                <td>Navajo Chieftain</td>
                <td>ATL</td>
                <td>998</td>
                <td>6.2</td>
                <td>3.2</td>
                <td>279.7</td>
                <td>0</td>
                <td>James Brown</td>
            </tr>
            <tr>
                <td>10011</td>
                <td>2/7/2014 12:00:00 AM</td>
                <td>1484P</td>
                <td>Piper</td>
                <td>Aztec</td>
                <td>BNA</td>
                <td>352</td>
                <td>1.9</td>
                <td>5.3</td>
                <td>66.4</td>
                <td>1</td>
                <td>Kathy Smith</td>
            </tr>
            <tr>
                <td>10012</td>
                <td>2/8/2014 12:00:00 AM</td>
                <td>2778V</td>
                <td>Piper</td>
                <td>Navajo Chieftain</td>
                <td>MOB</td>
                <td>884</td>
                <td>4.8</td>
                <td>4.2</td>
                <td>215.1</td>
                <td>0</td>
                <td>Alfred Ramas</td>
            </tr>
            <tr>
                <td>10013</td>
                <td>2/8/2014 12:00:00 AM</td>
                <td>4278Y</td>
                <td>Piper</td>
                <td>Navajo Chieftain</td>
                <td>TYS</td>
                <td>644</td>
                <td>3.9</td>
                <td>4.5</td>
                <td>174.3</td>
                <td>1</td>
                <td>Leona Dunne</td>
            </tr>
            <tr>
                <td>10014</td>
                <td>2/9/2014 12:00:00 AM</td>
                <td>4278Y</td>
                <td>Piper</td>
                <td>Navajo Chieftain</td>
                <td>ATL</td>
                <td>936</td>
                <td>6.1</td>
                <td>2.1</td>
                <td>302.6</td>
                <td>0</td>
                <td>George Williams</td>
            </tr>
            <tr>
                <td>10015</td>
                <td>2/9/2014 12:00:00 AM</td>
                <td>2289L</td>
                <td>Beechcraft</td>
                <td>KingAir</td>
                <td>GNV</td>
                <td>1645</td>
                <td>6.7</td>
                <td>0</td>
                <td>459.5</td>
                <td>2</td>
                <td>James Brown</td>
            </tr>
            <tr>
                <td>10016</td>
                <td>2/9/2014 12:00:00 AM</td>
                <td>2778V</td>
                <td>Piper</td>
                <td>Navajo Chieftain</td>
                <td>MQY</td>
                <td>312</td>
                <td>1.5</td>
                <td>0</td>
                <td>67.2</td>
                <td>0</td>
                <td>Leona Dunne</td>
            </tr>
            <tr>
                <td>10017</td>
                <td>2/10/2014 12:00:00 AM</td>
                <td>1484P</td>
                <td>Piper</td>
                <td>Aztec</td>
                <td>STL</td>
                <td>508</td>
                <td>3.1</td>
                <td>0</td>
                <td>105.5</td>
                <td>0</td>
                <td>Myron Orlando</td>
            </tr>
            <tr>
                <td>10018</td>
                <td>2/10/2014 12:00:00 AM</td>
                <td>4278Y</td>
                <td>Piper</td>
                <td>Navajo Chieftain</td>
                <td>TYS</td>
                <td>644</td>
                <td>3.8</td>
                <td>4.5</td>
                <td>167.4</td>
                <td>0</td>
                <td>George Williams</td>
            </tr>
        </tbody>
    </table>
</div>