@{Layout = "_Layout.cshtml";}

<h1>Welcome to Animal Shelters!</h1>
<p>Animal Shelters has a mission to make sure that all its rescued animals are well-cared for and find a safe and loving home.
    You can make a difference by donating or adopting an animal. Please refer to the Donation and Animal tabs to see how you can contribute.
You can also decide to gift us your time by volunteering. Click the volunteering tab to learn more.</p>
<h4>Thank you for considering us!!</h4>
