@{Layout = "_Layout.cshtml";}

<h1>Employees</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Shelter ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Department</th>
                <th>Date of Birth</th>
                <th>Hire Date</th>
                <th>Employee Phone</th>
                <th>Employee Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>ZipCode</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>S001</td>
                <td>N002</td>
                <td>Kolmycz</td>
                <td>George</td>
                <td>Rescue</td>
                <td>6/15/1942</td>
                <td>(405)-325-1900</td>
                <td>440 Lindsey Street</td>
                <td>Norman</td>
                <td>OK</td>
                <td>73072</td>
                <td>$43,000</td>
            </tr>
            <tr>
                <td>S002</td>
                <td>N001</td>
                <td>Green</td>
                <td>Rachel</td>
                <td>Rescue</td>
                <td>6/15/1965</td>
                <td>(405)-325-3256</td>
                <td>450 Lindsey Street</td>
                <td>Norman</td>
                <td>OK</td>
                <td>73072</td>
                <td>$45,000</td>
            </tr>
            <tr>
                <td>S003</td>
                <td>N001</td>
                <td>Buffay</td>
                <td>Ursula</td>
                <td>Security</td>
                <td>6/15/1988</td>
                <td>(405)-325-0022</td>
                <td>650 Parkinson Street</td>
                <td>Norman</td>
                <td>OK</td>
                <td>73072</td>
                <td>$39,000</td>
            </tr>
            <tr>
                <td>S004</td>
                <td>N003</td>
                <td>Parker</td>
                <td>Peter</td>
                <td>Veterinary</td>
                <td>6/15/1992</td>
                <td>(405)-325-1901</td>
                <td>200 Lindsey Street</td>
                <td>Norman</td>
                <td>OK</td>
                <td>73072</td>
                <td>$54,700</td>
            </tr>
            <tr>
                <td>S005</td>
                <td>N003</td>
                <td>Kolmycz</td>
                <td>James</td>
                <td>Reception</td>
                <td>6/15/1942</td>
                <td>(405)-325-1900</td>
                <td>440 Lindsey Street</td>
                <td>Norman</td>
                <td>OK</td>
                <td>73072</td>
                <td>$43,600</td>
            </tr>
            <tr>
                <td>S006</td>
                <td>N002</td>
                <td>Potter</td>
                <td>John</td>
                <td>Veterinary</td>
                <td>6/15/1962</td>
                <td>(405)-325-1920</td>
                <td>440 Lindsey Street</td>
                <td>Norman</td>
                <td>OK</td>
                <td>73072</td>
                <td>$47,000</td>
            </tr>
        </tbody>
    </table>
</div>
