@{Layout="_Layout.cshtml";}

<h1>Help Desk</h1>
<body>
  <h4>How to use this website:</h4>
  <p>We have implemented a collapsing navbar to make it easier to see all of our tabs and to prevent the navigation bar from overcrowding when accessed from a laptop.
  Each tab represents an entity in our database, which can be referenced to in the ERD shown in the main page.</p>
  <p></p>
  <img src="navbar.png" alt="Navbar screenshot">
  <p></p>
  <p> To view the tables in the entities, just click on the tab corresponding to the entity. As you can see The tables show the data stored in the database.
  In order to Add, edit or delete a row of data, there are the <i class="fas fa-plus-circle"></i>  ,  <i class="fas fa-pen-square"></i>  and  <i class="far fa-trash-alt"></i>  symbols respectively.</p>
  <p></p>
  <p>When clicked, the Add and Edit button will show similar modals where information can be added or edited.</p>
  <p></p>
  <img src="add-example.png" alt="Add screenshot">
  <p></p>
  <p>A success message will appear when the new element is added successfully.</p>
  <p></p>
  <img src="add-success.png" alt="Success screenshot">
  <p></p>
  <p>As for deleting, you will be prompted fpr confirmation to make sure that no elements are accidentally deleted.</p>
  <p></p>
  <img src="delete-prompt.png" alt="delete screenshot">
  <p></p>
</body>
<p1></p1>
