@{Layout="_Layout.cshtml";}

<h1>Help Desk</h1>
<body>
  <h4>How to use this website:</h4>
  <p>We have implemented a collapsing navbar to make it easier to see all of our tabs and to prevent the navigation bar from overcrowding when accessed from a laptop.
  Each tab represents an entity in our database, which can be referenced to in the ERD shown in the main page.</p>
  <p></p>
  <img src="navbar.png" alt="Navbar screenshot" width="700" height="400">
  <p></p>
  <p> To view the tables in the entities, just click on the tab corresponding to the entity. As you can see The tables show the data stored in the database.
  In order to Add, edit or delete a row of data, there are the <i class="fas fa-plus-circle"></i>  ,  <i class="fas fa-pen-square"></i>  and  <i class="far fa-trash-alt"></i>  symbols respectively.</p>
  <p></p>
  <p>When clicked, the Add and Edit button will show similar modals where information can be added or edited.</p>
  <p></p>
  <img src="add-example.png" alt="Add screenshot" width="700" height="400">
  <p></p>
  <p>For information safety reasons, we have disabled the editing of primary keys in the Edit modal.
  You can see in the picture below that the primary key, which is ClientID in this case is greayed out and can not be modified.</p>
  <p></p>
  <img src="edit-safety.png" alt="Safety screenshot" width="700" height="400">
  <p></p>
  <p>A success message will appear when the new element is added successfully.</p>
  <p></p>
  <img src="add-success.png" alt="Success screenshot" width="700" height="400">
  <p></p>
  <p>As for deleting, you will be prompted fpr confirmation to make sure that no elements are accidentally deleted.</p>
  <p></p>
  <img src="delete-prompt.png" alt="delete screenshot" width="700" height="400">
  <p></p>
  <h4>Disclaimer</h4>
  <p>If by chance the service you are trying to access malfunctions or does not respond, please contact our programming team and we will try to fix the issue as fast as we can.<p>
</body>
<p1></p1>
