@{Layout="_Layout.cshtml";}

<h1>Help Desk</h1>
<body>
  <h4>How to use this website:</h4>
  <p>We have implemented a collapsing navbar to make it easier to see all of our tabs and to prevent the navigation bar from overcrowding when accessed from a laptop.
  Each tab represents an entity in our database, which can be referenced to in the ERD shown in the main page.</p>
</body>
<p1></p1>
