@{Layout = "_Layout.cshtml";}

<h1>Pilots</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Employee Number</th>
                <th>Title</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Middle Initial</th>
                <th>Date of Birth</th>
                <th>Hire Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>100</td>
                <td>Mr.</td>
                <td>Kolmycz</td>
                <td>George</td>
                <td>D</td>
                <td>6/15/1942 12:00:00 AM</td>
                <td>3/15/1987 12:00:00 AM</td>
            </tr>
            <tr>
                <td>101</td>
                <td>Ms.</td>
                <td>Lewis</td>
                <td>Rhonda</td>
                <td>G</td>
                <td>3/19/1965 12:00:00 AM</td>
                <td>4/25/1988 12:00:00 AM</td>
            </tr>
            <tr>
                <td>102</td>
                <td>Mr.</td>
                <td>VanDam</td>
                <td>Rhett</td>
                <td></td>
                <td>11/14/1958 12:00:00 AM</td>
                <td>12/20/1992 12:00:00 AM</td>
            </tr>
            <tr>
                <td>103</td>
                <td>Ms.</td>
                <td>Jones</td>
                <td>Anne</td>
                <td>M</td>
                <td>10/16/1974 12:00:00 AM</td>
                <td>8/28/2005 12:00:00 AM</td>
            </tr>
            <tr>
                <td>104</td>
                <td>Mr.</td>
                <td>Lange</td>
                <td>John</td>
                <td>P</td>
                <td>11/8/1971 12:00:00 AM</td>
                <td>10/20/1996 12:00:00 AM</td>
            </tr>
            <tr>
                <td>105</td>
                <td>Mr.</td>
                <td>Williams</td>
                <td>Robert</td>
                <td>D</td>
                <td>3/14/1975 12:00:00 AM</td>
                <td>1/8/2006 12:00:00 AM</td>
            </tr>
            <tr>
                <td>106</td>
                <td>Mrs.</td>
                <td>Duzak</td>
                <td>Jeanine</td>
                <td>K</td>
                <td>2/12/1968 12:00:00 AM</td>
                <td>1/5/1991 12:00:00 AM</td>
            </tr>
            <tr>
                <td>107</td>
                <td>Mr.</td>
                <td>Diante</td>
                <td>Jorge</td>
                <td>D</td>
                <td>8/21/1974 12:00:00 AM</td>
                <td>7/2/1996 12:00:00 AM</td>
            </tr>
            <tr>
                <td>108</td>
                <td>Mr.</td>
                <td>Wiesenbach</td>
                <td>Paul</td>
                <td>R</td>
                <td>2/14/1966 12:00:00 AM</td>
                <td>11/18/1994 12:00:00 AM</td>
            </tr>
            <tr>
                <td>109</td>
                <td>Ms.</td>
                <td>Travis</td>
                <td>Elizabeth</td>
                <td>K</td>
                <td>6/18/1961 12:00:00 AM</td>
                <td>4/14/1991 12:00:00 AM</td>
            </tr>
            <tr>
                <td>110</td>
                <td>Mrs.</td>
                <td>Genkazi</td>
                <td>Leighla</td>
                <td>W</td>
                <td>5/19/1970 12:00:00 AM</td>
                <td>12/1/1992 12:00:00 AM</td>
            </tr>
        </tbody>
    </table>
</div>