@{Layout = "_Layout.cshtml";}

@{
var db = Database.Open("my-connection"); 
db.Execute("insert into Treatment (TreatmentID, EmployeeID, TreatmentDescription) values (@0, @1, @2)", Request.Form["treatmentid"], Request.Form["employeeid"], Request.Form["treatmentdescription"]);
}
<div class="alert alert-success">
  <strong>Success!</strong> Record Saved
</div>
