@{Layout = "_Layout.cshtml";}

@{
var db = Database.Open("my-connection"); 
db.Execute(insert into DonationType (ServiceTypeID, ServiceTypeName) values (@0, @1, @2)", Request.Form["servicetypeid"], Request.Form["stn"]);
}

<div class="alert alert-success">
  <strong>Success!</strong> Record Saved
</div>
