@{Layout = "_Layout.cshtml";}

@{
var db = Database.Open("my-connection"); 
db.Execute(insert into DonationType (DonationTypeID, DonationTypeName, DonationAmount) values (@0, @1, @2)", Request.Form["donationtypeid"], Request.Form["dtn"], Request.Form["damt"]);
}

<div class="alert alert-success">
  <strong>Success!</strong> Record Saved
</div>
