@{Layout = "_Layout.cshtml";}
<h1>Shelters</h1>
<p>These are our Shelters in the US</p>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Shelter ID</th>
                <th>Shelter Name</th>
                <th>Shelter Phone</th>
                <th>Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>ZipCode</th>
                <th>Shelter Email</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>N001</td>
                <td>Kiran's Shelter</td>
                <td>(405)-325-0000</td>
                <td>250 Asp Avenue</td>
                <td>Norman</td>
                <td>OK</td>
                <td>73072</td>
                <td>normanshelters@ou.edu</td>
            </tr>
            <tr>
                <td>N002</td>
                <td>Ony's Shelter</td>
                <td>(405)-325-0001</td>
                <td>360 Asp Avenue</td>
                <td>Norman</td>
                <td>OK</td>
                <td>73072</td>
                <td>normanshelters@ou.edu</td>
            </tr>
            <tr>
                <td>N003</td>
                <td>Elizabeth's Shelter</td>
                <td>(405)-325-0002</td>
                <td>255 Asp Avenue</td>
                <td>Norman</td>
                <td>OK</td>
                <td>73072</td>
                <td>normanshelters@ou.edu</td>
            </tr>
            <tr>
                <td>N004</td>
                <td>Miguel's Shelter</td>
                <td>(405)-325-0003</td>
                <td>450 Asp Avenue</td>
                <td>Norman</td>
                <td>OK</td>
                <td>73072</td>
                <td>normanshelters@ou.edu</td>
            </tr>
        </tbody>
    </table>
</div>
