@{Layout="_Layout.cshtml";}
<h1>Meet the Team!</h1>
<div> <body>
<p>
<div>
<h4>Who are we?</h4>
  <p1>Team 6 is a group of dedicated college students looking to make a difference in Norman and excell in the database class they are currently taking.
  </p1>
  <p></p>
  <h4>What do we do?</h4>
  <p1>Team 6 conducted interviews with three different animal shelters in the State of Oklahoma and Kansas to understand the daily operations of a shelter and identify possible areas of improvement within their operations and information systems. These animal shelters were Norman Animal Shelter, Oklahoma City Animal Shelter, and T Russell Reitz Animal Shelter. During these interviews Team 6 learned that animal shelters want to keep track of their operations more effectively since the use of spreadsheets becomes laborious as daily operations keeps increasing.
Being able to keep track of information like  volunteers shifts, animal diets, treatments and current status at the shelter, and types of donations, would improve the effectiveness of their operations and therefore their services. OKC Animal Shelter staff said that having a system that they can use to record and retrieve certain relevant information to calculate things like the life release rate and in shelter status would yield to better decision making, reduce expenses and overall improvements within the shelter (OKC Animal Shelter, personal communication, November 14, 2019)
For these reasons, we wanted to develop an animal shelter database application that offers a data-driven service that is fast, reliable and easy to use in order to fulfill the main functions of an animal shelter. These main functions are recording and retrieving relevant information about donations, the types of services offered at the shelter, volunteer shifts, animal care, and employees.
</p1>
</div>
</p>
  </body>
</div>
