@{Layout = "_Layout.cshtml";}
@{
var db = Database.Open("my-connection"); 
var selectQueryString = "select a.* from volunteer v"; 
}
<h1>Volunteers</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Volunteer ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Certificate</th>
                
            </tr>
        </thead>
        <tbody>
 @foreach(var row in db.Query(selectQueryString))
{
<tr> 
<td>@row.VolunteerID</td> 
<td>@row.LastName</td> 
<td>@row.FirstName</td> 
<td>@row.Certificate</td>
</tr> 
}
        </tbody>
    </table>
</div>
